<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-text class="title" color="light">
            الفعاليات
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-list>
            <ion-item (click)="openEvent()">
                <ion-label class="ion-text-right">
                    مستقبل اجتماعي ديمقراطي؟ قضية الحكومة
                </ion-label>
            </ion-item>
            <ion-item (click)="openEvent()">
                <ion-label class="ion-text-right">
                    مستقبل اجتماعي ديمقراطي؟ قضية الحكومة
                </ion-label>
            </ion-item>
            <ion-item (click)="openEvent()">
                <ion-label class="ion-text-right">
                    مستقبل اجتماعي ديمقراطي؟ قضية الحكومة
                </ion-label>
            </ion-item>
            <ion-item (click)="openEvent()">
                <ion-label class="ion-text-right">
                    مستقبل اجتماعي ديمقراطي؟ قضية الحكومة
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>