<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-forward" defaultHref="project-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      نطاق المشروع
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h3 class="ion-text-center">مشروع تطوير شارع الفاتح</h3>
</div>
  <div class="ion-padding">
    <p class="ion-text-justify indent">
      نشاء نفق أرضي بثلاث مسارات في كل إتجاه عند تقاطع شارع الفاتح مع شارع أوال (تقاطع فندق الخليج) مع توفير تقاطع أرضي مدار بإشارات ضوئية.
      توفير جسر علوي بمسارين للحركة المرورية القادمة من المنامة شمالاً على شارع الفاتح بإتجاه الجفير شرقاً على شارع الأمير سعود الفيصل مع غلق الرصيف الوسطي لتقاطع شارع الفاتح مع شارع الشيخ دعيج الحالي. 
      توفير جسر علوي بمسارين للدوران العكسي للحركة المرورية المتجهة شمالاً.
      توسعة شارع الفاتح إلى أربع مسارات في كل اتجاه.
      توفير جسور مشاة.
      الأعمال التحضيرية وتشمل أعمال تحويل وحماية خطوط الخدمات الأرضية.
      الأعمال المصاحبة (خط الجفير- الغريفة الرئيسي للصرف الصحي، إعادة بناء سور قصر القضيبية ، إلخ)
      </p>
  </div>
 <!-- <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
