<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-icon routerLink="/council-members" routerDirection="backward" slot="start" name="arrow-forward" size="large">
        </ion-icon>
        <ion-text class="title" color="light">
            ملف الشخصي
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="border">

        <ion-card-header class="ion-text-center">
            <ion-avatar class="dp">
                <img src="../../assets/Councilmembers/طرادة.jpg">
            </ion-avatar>
            <h3><strong> صلاح طرادة</strong> </h3>
            <h4>رئيس</h4>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
            <ion-list>

                <ion-item>
                    <ion-avatar slot="end">
                        <ion-icon name="call"> </ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h5>+973 0000 0000</h5>
                        <p>Mobile</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-avatar slot="end">
                        <ion-icon name="chatbubbles"> </ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h5>+973 0000 0000</h5>
                        <p>Message</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-avatar slot="end">
                        <ion-icon name="mail"> </ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h5>example@mail.coms</h5>
                        <p>Email</p>
                    </ion-label>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>