.dp {
    margin: auto;
    height: 200px;
    width: 200px;
}

ion-avatar {
    margin: auto;
}

ion-card-header {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

h4 {
    padding-top: 0;
    margin-top: 0;
}

.phonecall {
    text-decoration: none;
}

.ltr {
    direction: ltr;
}