<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-icon routerLink="/news-home" routerDirection="backward" slot="start" name="arrow-forward" size="large"></ion-icon>
        <ion-text class="title" color="light">
            أخبار
        </ion-text>
    </ion-toolbar>
</ion-header>

<body>
    <ion-app>

        <ion-content>
            <ion-card class="card">
                <img class="img3" padding-top src="../assets/news/pic1.svg" />
                <ion-card-header>
                    <ion-card-subtitle class="date">21/8/2019</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class=" f1 ion-text-justify">
                    فاطمة يتيم كشف عضو مجلس أمانة العاصمة د.عبدالواحد النكال، عن مقترح تركيب مظلات للسيارات في المناطق السكنية وفق اشتراطات معينة، بحيث يجوز عمل موقف لسيارة واحدة فقط خارج حدود ملكية المنزل بما يتوافق وقرار المجلس على تعديل المادة رقم (2( من قرار رقم (76)
                    لسنة 2018 بشأن إصدار الاشتراطات التي تطبق على مشاريع الإسكان. وأكد النكال لـ”الوطن”، “إن القرار تم التوافق عليه بالمجلس في الدور السابق بأنه لا يتعارض مع قانون إشغال الطرق، وأن الموقف المظلل لا يعد ضمن ملكية صاحب المنزل، وسبق للمجلس
                    السابق أن رفع مرئياته في هذا الموضوع غير أن الردود كانت سلبية وأن التبريرات كانت تتمثل في التعارض مع قانون إشغالات الطرق”. تهيئة ساحل العكر الشرقي .وفي سياق آخر، قال النكال: “سيتم رفع مقترح تهيئة ساحل العكر الشرقي القريب من المجرى
                    المائي لساحل المعامير، وهناك أكثر من عقار ضمن الأملاك الخاصة سنقترح تعويض ملاكها بعقارات أخرى”، مؤكداً أن “مقترح الساحل يتوافق والمرسوم الملكي بتحديد خط الدفان البحري في المنطقة، وسيحل بعض المشاكل البيئية في المنطقة ومن الممكن جعل
                    هذه المنطقة محمية بأشجار القرم، علاوة على أن الساحل الشرقي سيكون متنفسا لأهالي المنطقة وبما يتوافق مع رؤية مجلس أمانة العاصمة في إنشاء السواحل العامة”
                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>
</body>