.date {
    position: absolute;
    left: 78%;
}

.title {
    color: white;
    size: 26px;
    font-weight: bold;
}

.img3 {
    padding-top: 20px;
    width: 100%;
}

.f1 {
    color: #000;
    ;
}