<ion-header>

  <ion-toolbar color="primary">
    <ion-icon name="menu" size="large"></ion-icon>
    <ion-title class="ion-text-center"> 
       أعضاء المجلس
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card class="border" href="/page1">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/طرادة.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>صلاح طرادة</strong> </h3>
         <p>رئيس</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="border" href="/page2">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/aziza.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>عزيزةالنكال</strong> </h3>
         <p>نائب الرئيس</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="border" href="/page3">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/nakal.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>دكتور عبدالله الوهاب</strong> </h3>
         <p>عضو</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="border" href="/page4">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../assets/Council members/خلود.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>خلود القطان</strong> </h3>
         <p>عضو </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-card class="border" href="/page5">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/لولة.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>دكتورة لولوة المطلق </strong> </h3>
         <p>عضو</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="border" href="/page6">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/مها.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>دكتورة مها الشهاب</strong> </h3>
         <p>عضو </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-card class="border" href="/page7">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/هدى.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>هودى فرج</strong> </h3>
         <p>عضو</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="border" href="/page8">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/user.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>مبارك النعيمي</strong> </h3>
         <p>عضو </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-card class="border" href="/page9">
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/user.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>محمد العباس</strong> </h3>
         <p>عضو</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="border" href="/page10"> 
        <ion-card-header class="center">
          <ion-avatar  >
           <img  src="../../assets/Council members/user.jpg">
          </ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
         <h3><strong>محمد الهنيدي</strong> </h3>
         <p>عضو </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
