.border {
    height: 150px;
}

ion-avatar {
    margin: auto;
    height: 70px;
    width: 70px;
    padding-top: 0;
    margin-top: 0;
}

ion-card-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}