<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-text class="title" color="light">
            أعضاء المجلس
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="border" routerLink="/council-members/member-info">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/طرادة.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>صلاح طرادة</strong> </h3>
                        <p>رئيس</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="border" href="/page2">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/aziza.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>عزيزةالنكال</strong> </h3>
                        <p>نائب الرئيس</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="border" href="/page3">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/nakal.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>دكتور عبدالله الوهاب</strong> </h3>
                        <p>عضو</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="border" href="/page4">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../assets/Councilmembers/خلود.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>خلود القطان</strong> </h3>
                        <p>عضو </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="border" href="/page5">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/لولة.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>دكتورة لولوة المطلق </strong> </h3>
                        <p>عضو</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="border" href="/page6">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/مها.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>دكتورة مها الشهاب</strong> </h3>
                        <p>عضو </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card class="border" href="/page7">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/هدى.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>هودى فرج</strong> </h3>
                        <p>عضو</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="border" href="/page8">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Councilmembers/user.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>مبارك النعيمي</strong> </h3>
                        <p>عضو </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-card class="border" href="/page9">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Council members/user.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>محمد العباس</strong> </h3>
                        <p>عضو</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="border" href="/page10">
                    <ion-card-header>
                        <ion-avatar>
                            <img src="../../assets/Council members/user.jpg">
                        </ion-avatar>
                    </ion-card-header>
                    <ion-card-content class="ion-text-center">
                        <h3><strong>محمد الهنيدي</strong> </h3>
                        <p>عضو </p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>