.sidemenu-cmc-logo {
    position: relative;
    margin-right: 28%;
    margin-bottom: 7%;
    margin-top: 2%;
    height: 45%;
    width: 45%;
}

ion-label {
    text-align: right;
    padding-bottom: 0;
}

ion-menu-button {
    margin-left: 80%;
    position: fixed;
    color: #AC3236;
    margin-top: 3%;
}

.side-menu-tab {
    height: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    border-bottom-color: #AC3236;
    border-bottom-style: solid;
    border-left-color: #AC3236;
    border-left-style: solid;
    border-left-width: 3vmin;
    padding-left: 0%;
}

.social-media-item {
    position: relative;
    margin-left: 5%;
    margin-top: 0%;
}

.social-media-item ion-icon {
    color: #AC3236;
    margin-top: 50px;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 10%;
    padding-right: 10%;
    
}

#twitter {
    position: relative;
    width: 100px;
    padding-right: 0;
    
}

#facebook {
    position: relative;
    width: 15%;
   
}

#instagram {
    position: relative;
    width: 15%
}