<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-text class="title" color="light">
            معلومات عنا
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header color="primary" class="header ion-text-center">
            <ion-card-title class="title" color="light">تشكيل مجلس امانة العاصمة</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-justify indent space">
            <ion-text color="dark">
                <p class="fontsize">صدر عن حضرة صاحب الجلالة الملك حمد بن عيسى آل خليفة عاهل البلاد المفدى حفظه الله ورعاه، مرسوم رقم (60) لسنة 2018 بتشكيل مجلس أمانة العاصمة.</p>
                <p class="fontsize">وجاء في المادة الأولى من المرسوم أنه يشكل مجلس أمانة العاصمة برئاسة صالح طاهر محمد طرادة، وعضوية كل من عزيزة عبد الرحيم محمد كمال نائبًا للرئيس، والدكتور عبدالواحد عبدالوهاب أحمد النكال، والدكتورة مها صالح حسين آل شهاب، وخلود راشد عبدالرحمن
                    القطان، والدكتورة لولوة مطلق راشد مطلق، ومبارك أحمد مبارك النعيمي، والمهندس محمد توفيق رضا آل عباس، والمهندس محمد سلمان علي الهندي، والمهندسة هدى سلطان مبارك فرج.
                </p>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="secondary" class="header ion-text-center">
            <ion-card-title class="title" color="light">رؤيتنا</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-justify indent space">
            <ion-text color="dark">
                <p class="fontsize">أن يكون للمجلس الدور الطليعي لتكون العاصمة رائدة ومتطورة بخدمات متميزة ومستدامة</p>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="tertiary" class="header ion-text-center">
            <ion-card-title class="title" color="light">رسالتنا</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-justify space">
            <ion-text color="dark">
                <ion-list>
                    <ion-item>
                        <ion-icon name="checkmark-outline" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">السعي نحو عاصمة صديقة للبيئة ذات خدمات راقية ينعم ساكنوها بجودة الحياة.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="checkmark-outline" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">مزدهرة بالشراكة الاجتماعية والاقتصادية المستدامة.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="checkmark-outline" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">متطورة بالقوانين والتشريعات البلدية.</ion-label>
                    </ion-item>
                </ion-list>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="primary" class="header ion-text-center">
            <ion-card-title class="title" color="light">القيم المؤسسية</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-justify space">
            <ion-text color="dark">
                <ion-list>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">العمل الجماعي.</ion-label>

                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">التميز والابداع والاحترافية.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">الولاء المؤسسي وأخلاقيات العمل.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">الشفافية والعدالة.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">المساءلة والمحاسبة.</ion-label>
                    </ion-item>
                </ion-list>
            </ion-text>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header color="secondary" class="header ion-text-center">
            <ion-card-title class="title" color="light">الأهداف الاستراتيجية</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-justify space">
            <ion-text color="dark">
                <ion-list>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">تطوير منظومة القوانين البلدية.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">مراقبة الجهاز التنفيذي والمشاركة في اتخاذ القرار.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">تطوير الخدمات البلدية.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">تنمية المشاريع والاستثمارات البلدية.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">المساهمة في تطوير التخطيط العمراني.</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="remove" class="iconspace"></ion-icon>
                        <ion-label class="ion-text-wrap fontsize">نشر الوعي البلدي.</ion-label>
                    </ion-item>
                </ion-list>
            </ion-text>
        </ion-card-content>
    </ion-card>

</ion-content>