<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-text class="title" color="light">
            أخر الأخبار
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card color="light" class="ion-text-right cardsize" routerlink="/news-page" routerdirection="forward">
                    <img src="../assets/news/pic1.svg ">
                    <ion-card-content>
                        <ion-card-subtitle class="d1 ">21/8/2019</ion-card-subtitle>
                        <ion-card-title class="t1 "> النكال يقترح تركيب مظلات لمواقف واحد خارج حدود ملكية المنزل </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card ion-text-center color="light " class="ion-text-right cardsize" routerlink="/news-page" routerdirection="forward">
                    <img src="../assets/news/pic2.svg ">
                    <ion-card-content>
                        <ion-card-subtitle class="d1 ">26/9/2019 </ion-card-subtitle>
                        <ion-icon class="icon " ios="ios-arrow-back " md="md-arrow-back "></ion-icon>
                        <ion-card-title class="t1 "> فريق “حكاية المنامة” يهدي مجلس الأمانة نسخة من “ملامح6 “ </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card ion-text-center color="light " class="ion-text-right cardsize" routerlink="/news-page/" routerdirection="forward">
                    <img src="../assets/news/pic3.svg ">
                    <ion-card-content>
                        <ion-card-subtitle class="d1 ">21/8/2019 </ion-card-subtitle>
                        <ion-icon class="icon " ios="ios-arrow-back " md="md-arrow-back "></ion-icon>
                        <ion-card-title class="t1 "> مجلس العاصمة” يطلع على احتياجات منطقة النعيم </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card ion-text-center color="light " class="ion-text-right cardsize" routerlink="/news-page/" routerdirection="forward">
                    <img src="../assets/news/pic4.svg ">
                    <ion-card-content>
                        <ion-card-subtitle class="d1 ">26/9/2019 </ion-card-subtitle>
                        <ion-icon class="icon " ios="ios-arrow-back " md="md-arrow-back "></ion-icon>
                        <ion-card-title class="t1 "> مجلس أمانة العاصمة “خدمات العاصمة” تناقش تطوير حديقة أم الحصم وإنشاء مواقف عامة بالعدلية </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>