<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-text class="title" color="light">
            المشاريع
        </ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-list>
            <ion-item (click)="openEvent()">
                <ion-label class="ion-text-right"> مشروع تطوير شارع الفاتح</ion-label>
            </ion-item>
            <ion-item href="#">
                <ion-label class="ion-text-right">تطوير بعض طرق شارع 427 - سند</ion-label>
            </ion-item>
            <ion-item href="#">
                <ion-label class="ion-text-right">رصف الطرق الترابية - العكر</ion-label>
            </ion-item>
            <ion-item href="#">
                <ion-label class="ion-text-right">تطوير قرية جدحفص</ion-label>
            </ion-item>
            <ion-item href="#">
                <ion-label class="ion-text-right"> رصف الطريقين 3828 و 3824</ion-label>
            </ion-item>
        </ion-list>

    </div>
</ion-content>