<ion-header no-border>
    <ion-toolbar class="ion-no-margin ion-no-padding" no-border>

        <ion-buttons slot="start" class="menu">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <img src="../assets/home/tophome.png">

    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding ion-text-center" no-border>

    <div>
        <ion-img class="logo" src="../assets/logo.svg" alt="Capital Municipal Council Logo "></ion-img>
        <ion-text class="caption" color="primary">
            <h3>.. معاً نحن عاصمة أجمل ..</h3>
        </ion-text>
    </div>

    <ion-grid class="whiteback">

        <ion-row>

            <ion-col class="centercard">

                <ion-card class="maincard" color="primary" routerLink="/news-home" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/news.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>أخبار</h3>
                </ion-text>


            </ion-col>

            <ion-col class="centercard">

                <ion-card class="maincard" color="secondary" routerLink="/" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/comsugg.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>شكاوي/ اقتراحات</h3>
                </ion-text>

            </ion-col>

            <ion-col class="centercard">

                <ion-card class="maincard" color="tertiary" routerLink="/project-list" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/project.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>مشاريع</h3>
                </ion-text>

            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col class="centercard">

                <ion-card class="maincard" color="secondary" routerLink="/" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/survey.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>الاستطلاعات</h3>
                </ion-text>

            </ion-col>

            <ion-col class="centercard">

                <ion-card class="maincard" color="tertiary" routerLink="/" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/events.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>الفعاليات</h3>
                </ion-text>

            </ion-col>

            <ion-col class="centercard">

                <ion-card class="maincard" color="primary" routerLink="/council-members" routerDirection="forward">
                    <ion-icon class="icons" src="../assets/icons/members.svg"></ion-icon>
                </ion-card>
                <ion-text class="title">
                    <h3>أعضاء المجلس</h3>
                </ion-text>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>
<ion-footer class="ion-no-margin ion-no-padding" no-border>

    <img class="staybottom" src="../assets/home/bottomhome.png">

</ion-footer>